@charset "UTF-8" ;

@font-face {
    font-family: "Orpheus";
    src: url("../fontes/Orpheus\ Pro\ Font.otf") format('opentype');
    font-weight: normal;
    
}

* {
    margin: 0px;
    padding: 0px;
    font-weight: lighter;

}

:root {
    --cor0:#080808;
    --cor1:#38383B;
    --cor2:#A8A6A1;
    --navigationLinkColor: hsla(var(--white-hsl),1);

    --fonte-padrao: "Orpheus";
    --fonte-texto: "serif";

}

body {
    color: white;
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);

}


/*Header*/


.header-border {
    position: relative;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
}

.header-inner-container {
    margin: auto;
    position: relative;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
}

.header-title {
    width: 33%;
    flex: 1 1 33%;
    
}

.header-title-text {
    margin: 0;
    font-size: calc(2 * 1rem);
    font-family: orpheus-pro;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;

}

#site-title {
    text-decoration: none;
    color: white;

}

.header-nav {
    width: 34%;
    text-align: center;
    flex: 1 1 34%;

}

.header-nav-wrapper {
    text-align: center;

}

.header-nav-list {
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
 
  }

.header-nav-item-collection {
    color: white;
    margin-left: .9vw;
    margin-right: .9vw;
   
    
}

.header-nav-list a {
    color: var(--navigationLinkColor);
    font-size: calc(1.2 * 1rem);
    text-decoration: none;
    backface-visibility: hidden;
    padding: 10px;
}
    


.header-actions {
    margin: auto;
    flex-grow: 0;
    flex-shrink: 1;
    width: 20px;
    height: 20px;
    position: relative;
    display: flex;
    box-sizing: content-box;
    line-height: 1;
    display: inline-flex;
    align-items: center;
  }

.header-actions img {
    margin-left: 2vw;

}




/*Main*/

.page-section {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;

}

.section-border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.section-background {
    position: relative;
    overflow: hidden;
    max-width: 100%;


}

.section-background img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    margin: auto;
   

}

.fluid-image-container {


}


.item-list {
    min-height: 100px;
    padding-top: 6.6vmax;
    padding-bottom: 6.6vmax;

}

.content {
    width: 100%;
    height: auto;
    margin: 0;
}

.content-fill {


    
}

.content-wrapper {
    padding-top: 10vmax;
    padding-bottom: 10vmax;
    display: flex;
    width: 100%;
    box-sizing: content-box;
    position: relative;
    margin: 0;

}

.item-list > .list-section-title {
    padding-bottom: 70px;
    max-width: 1200px;
    text-align: center;
    color: var(--cor2);
    margin-left: auto;
    margin-right: auto;
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: calc(2.8 * 1rem);
    margin: 0;
    text-align: center;
}

h1 {
    font-size: calc(4 * 1rem);
    text-align: center;

}

.button-wrapper {
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
}

.button-container {
    justify-content: center;
    text-align: center;
    display: flex;

}

.button {
    padding: 1.2em 2.004em;
    background-color: var(--cor2);
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    letter-spacing: .04em;
    font-size: 1.1rem;

}

.button a {
    text-decoration: none;
    color: white;

}

.item-list-container {
    columns: 3;
    list-style: none;
    margin: 0px auto;
    padding-left: 4vw;
    padding-right: 4vw;
    max-width: 1200px;

}

.list-item {
    display: flex;
    flex-direction: column;
    min-width: 0;

}

.list-item-media {
    margin-bottom: 8%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;


}


.list-item-media-inner {
    padding-bottom: 133.33%;
    height: 0px;
    overflow: hidden;
    position: relative;

}

.list-item-media-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    min-height: 100%;

}


.list-item-content {


}

.list-item-content_text-wrapper {
    text-align: center;

}

.list-item-content-title {
    max-width: 100%;
    font-size: calc(var(--title-font-size-value) * 1rem);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;

}

.list-item-content_button-wrapper {




}

.list-item-content_button-container {
    margin-top: 8%;
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;

}

.list-item-content_button {
    text-decoration: none;
    color: white;
    padding: 1.2em 2.004em;
    background-color: var(--cor2);
    font-weight: 500;
    letter-spacing: .04em;
    font-size: 1.1rem;


}

.newsletter-form {


}

.newsletter-form-header {


}

.newsletter-form-header-title {


}

.newsletter-form-header-description {


}

.newsletter-form-body {


}

.newsletter-form-field {


}

.newsletter-form_label-title {


}

.newsletter-form-button-wrapper {


}

.newsletter-form-button {


}

.newsletter-form-spinner {


}






